<h1>Lista de partidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Local</th>
            <th>Visitante</th>
            <th>Partido</th>
            <th>Estadio</th>
            <th>Capacidad</th>
            <th>Disponibles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img class = "img-fluid" [src]="match.local" [alt]="match.match"></td>
            <td><img class = "img-fluid" [src]="match.visitor" [alt]="match.match"></td>
            <td>{{match.match}}</td>
            <td>{{match.stadium}}</td>
            <td>{{match.capacity}}</td>
            <td>{{match.available}}</td>
        </tr>
        <tr>
            <td><img class = "img-fluid" [src]="match.local" [alt]="match.match"></td>
            <td><img class = "img-fluid" [src]="match.visitor" [alt]="match.match"></td>
            <td>River vs Boca</td>
            <td>Estadio Monumental, Argentina</td>
            <td>70000</td>
            <td>20000</td>
        </tr>
        <tr>
            <td>América vs Chivas Guadalajara</td>
            <td>Estadio Azteca</td>
            <td>87500</td>
            <td>50000</td>
        </tr>
    </tbody>
</table>
