<h1>Lista de partidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Local</th>
            <th>Visitante</th>
            <th>Partido</th>
            <th>Estadio</th>
            <th>Capacidad</th>
            <th>Disponibles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchs" [ngClass]="{'offer': match.offer}">
            <td><img class = "img-fluid" [src]="match.local" [alt]="match.match"></td>
            <td><img class = "img-fluid" [src]="match.visitor" [alt]="match.match"></td>
            <td>{{match.match}}</td>
            <td>{{match.stadium}}</td>
            <td>{{match.capacity}}</td>
            <td><span class="badge badge-warning" *ngIf = 'match.available == 0'>AGOTADO</span></td>
        </tr>
    </tbody>
</table>
