<h1>Lista de partidos</h1>

<table class="table">
    <thead>
        <tr>
            <th class="home-away">Local</th>
            <th class="home-away">Visitante</th>
            <th>Partido</th>
            <th>Estadio</th>
            <th>Disp</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchs" [ngClass]="{'offer': match.offer}">
            <td class="home-away"><img width = 100 class= "img-thumbnail" [src]="match.local" [alt]="match.match"></td>
            <td class="home-away"><img width = 100 class= "img-thumbnail" [src]="match.visitor" [alt]="match.match"></td>
            <td>{{match.match}}</td>
            <td>{{match.stadium}}</td>
            <td><span class="badge badge-warning" *ngIf = 'match.available == 0'>AGOTADO</span></td>
            <td>
                <app-input-integer [(quantity)]= "match.quantity" [max] = "match.available" (maxReached) = maxReached($event)></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>
